
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>duetPrintGuard</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/index.css') }}">
    <script src="{{ url_for('static', path='js/sse.js') }}" defer></script>
    <script type="module" src="{{ url_for('static', path='js/utils.js') }}" defer></script>
    <script type="module" src="{{ url_for('static', path='js/index.js') }}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/figlet@1.8.1/lib/figlet.min.js"></script>
</head>
<body>

<template id="button-template">
  <button class="start-stop-camera-btn" title="start Stop Detection">Start Detection</button>
</template>

<template id="video-template">
<div  class="camera-video-preview">
  <img src="{{ url_for('static', path='images/default_icon.png') }}" alt="Camera Icon"   style="max-height: 150px; width: auto;">
</div>
</template>

<template id="camera-template">
  <div class="camera-container">

    <table>
    <tr>
        <th>Camera</th>
        <th>Status</th>
        <th>Print</th>
        <th>Last Update</th>
        <th>Action</th>
    </tr>
    <tr>
        <td><span class="nickname">----</span></td>
        <td><span class="camera-status">----</span></td>
        <td><span class="camera-prediction">----</span></td>
        <td><span class="lastTimeValue">----</span></td>
        <td><span class="countdown-action">----</span></td>
    </tr>
  </table>
  <!--
    <ul>
    <li class="camera-item">
      <span class="nickname">----</span>
      <span class="camera-status">----</span>
      <span class="camera-prediction">----</span>
      <span class="camera-prediction-time">
        Last Active: <span class="lastTimeValue">----</span>
      </span>
      <span class="countdown-action">----</span>
    </li>
    </ul>
  -->
    <div class="start-stop-camera-btn"> 
      <button title="start Stop Detection">Start Detection</button>
    </div>
  </div>
</template>


<div id="grid" class="grid"></div>

<!-- Modal No Camera-->
<div id="noCamera" class="modal">
  <div class="modal-content">
    <span id="closeModal">&times;</span>
    <h2>No Cameras Configured</h2>
    <p>Use the setting page to configure cameras</p>
  </div>
</div>


</body>
</html>
