<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>duetPrintGuard</title>
  <link rel="stylesheet" href="{{ url_for('static', path='css/index.css') }}" />

  <script src="{{ url_for('static', path='js/sse.js') }}" defer></script>
  <script type="module" src="{{ url_for('static', path='js/utils.js') }}" defer></script>
  <script type="module" src="{{ url_for('static', path='js/index.js') }}" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/figlet@1.8.1/lib/figlet.min.js"></script>
</head>

<body>
    <!-- Grid -->
    <div id="grid" class="grid"></div>
  </div>

  <!-- Templates -->
  <template id = "button-template">
    <div class="top-controls">
      <button class="btn-ignore">Ignore</button>
      <button class="btn-pause">Pause</button>
      <button class="btn-cancel">Cancel</button>
    </div>
  </template>



  <template id="camera-template">
    <div class="camera-card">
      <div class="camera-header">
        <span class="nickname">----</span>
        <span class="camera-status">----</span>
      </div>
      <div class="camera-body">
        <!--<div class="camera-info">-->
        <div class="camera-prediction">
          <span class="prediction-label">Instant Print State: </span>
          <span class="prediction-value">Unknown</span>
        </div>
        <div class="last-update">
          <span class="update-label">Last Update: </span>
          <span class="update-value">Never</span>
        </div>
        <div class="countdown-action">
          <span class="action-label">Action: </span>
          <span class="action-value">Unknown</span>
        </div>
      </div>
      <div class="camera-footer">
        <button class="start-stop-camera-btn" title="Start/Stop Detection">Start Detection</button>
      </div>
    </div>
  </template>

  <template id="video-template">
    <div class="camera-video-preview">
      <img src="{{ url_for('static', path='images/default_icon.png') }}" alt="Camera Icon"/>
    </div>
  </template>

  <!-- No Camera Modal -->
  <div id="noCamera" class="modal">
    <div class="modal-content">
      <span id="closeModal">&times;</span>
      <h2>No Cameras Configured</h2>
      <p>Use the settings page to configure cameras</p>
    </div>
  </div>
</body>
</html>