<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrintGuard</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/universal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/index.css') }}">
    <script type="module" src="{{ url_for('static', path='js/notifications.js') }}"></script>
    <script src="{{ url_for('static', path='js/sse.js') }}" defer></script>
    <script type="module" src="{{ url_for('static', path='js/utils.js') }}" defer></script>
    <script type="module" src="{{ url_for('static', path='js/index.js') }}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/figlet@1.8.1/lib/figlet.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
</head>
<body>              

        <div class="grid-item">
            <div class="camera-display-section">
                <div class="info-grid">
                    <div class="info-item">
                        <span class="info-value success-status" id="camPredictionDisplay">Inactive</span>
                        <span class="info-label" id="camPredictionTimeDisplay">at -</span>
                    </div>

                    <div class="info-item">
                        <span class="info-value" id="camTotalDetectionsDisplay">-</span>
                        <span class="info-label">total detections</span>
                    </div>

                    <div class="info-item">
                        <span class="info-value" id="camFailuresLastWindowDisplay">-</span>
                        <span class="info-label">Failures</span>
                    </div>

                    <div class="info-item">
                        <button class="start-stop-btn" id="camDetectionToggleButton">Start Detection</button>
                    </div>
                </div>
            </div>
</body>
</html>
