# Configuration parameters for duetPrintGuard
# Optional parameters can be commented out with ;
# In which case, defaults will be used as appropriate
# parameter values should not be quoted

[DUET]
# These settings are for the actual printer
# They are the same as would be used for DWC

# IP address of duet printer
# Mandatory e.g. DUETIP = 192.168.1.2
IP = 192.168.30.41

# DUETPORT address of duet printer
# Optional - only use port has been changed in /opt/dsf/conf/http.json
# Default is 80
;PORT =

# Password for duet
# Optional - only use if password has been set in DWC configuration
;PASSWORD = 

[UI]
# Settings for UI components
# Accessed at either http://localhost or http://<DUETIP>
# PORT cannot conflict with other apps / plugins / or DWC
# Mandatory e.g. PORT = 8001
PORT = 8002

[LOGGING]
# Sets the logging detail
# Valid entries [WARNING,INFO,DEBUG]
# Optional
#Default is INFO
;LEVEL = DEBUG

[ACTION]
# Duet3D commands to be executed when a failure occurs
# All parameters in this section are optional

# Failure actions depend on ONFAILURE with Valid entries [PAUSE,CANCEl]
# if PAUSE ==> execute the pause action
# if CANCEL ==> execute the pause action, then cancel action
# Optional
# Default is CANCEL
;ONFAILURE = 

# PAUSE specifies the pause action
# Optional
# Default - sends M25 to the printer
;PAUSE = 


# CANCEL specifies the cancel action
# Optional
# Default - sends M2 to the printer
;CANCEL = 

 
[MACRO]
# Optional Macro to be called on failure
# This is to facilitate a custom macro eg using MQTT
# Enter string that comes after M98
# Optional
;MACRO = 

[NTFY]
# Optional NTFY service to be called on failure

# The topic in ntfy that you subscribe to
# Mandatory if NTFY is to be used
TOPIC = MonksAtTheGate

# The title of the message
# Optional
# Default is system message
;TITLE

# The message to be sent to the ntfy topic
# Optional
# Default is system message if topic is  set
;MESSAGE

[PUSHOVER]

# Optional PUSHOVER service to be called on failure

# Url of notifocation service if NOTIFYTYPE = PUSHOVER
;URL =

# User for notification service if NOTIFYTYPE = X or Y
;USER = 

# Password  for notifocation service if NOTIFYTYPE = X or Y
;PASSWORD = 


