# Configuration parameters for duetPrintGuard
# Optional parameters can be commented out with #
# In which case, defaults will be used as appropriate
# parameter values should not be quoted

[DUET]
# These settings are for the actual printer
# They are the same as would be used for DWC

# IP address of duet printer
# Mandatory e.g. DUETIP = 192.168.1.2
IP = 192.168.30.41

# DUETPORT address of duet printer
# Optional - only use port has been changed in /opt/dsf/conf/http.json
# Default is 80
#PORT =

# Password for duet
# Optional - only use if password has been set in DWC configuration
#PASSWORD = 

[UI]
# Settings for UI components
# Accessed at either http://localhost or http://<DUETIP>
# PORT cannot conflict with other apps / plugins / or DWC
# Mandatory e.g. PORT = 8001
PORT = 8002

[LOGGING]
# Sets the logging detail
# Valid entries [WARNING,INFO,DEBUG]
# Optional
#Default is INFO
LOGLEVEL = DEBUG

[ACTION]
# Duet3D commands to be executed when a failure occurs
# All parameters in this section are optional

# Failure actions depend on FAILURESETTING with Valid entries [PAUSE,CANCEl,STOP]
# if PAUSE ==> execute the pause action
# if CANCEL ==> execute the pause action, then cancel action
# if STOP ==> execute the pause action, then cancel action, then stop action
# Optional
# Default is STOP
# FAILURESETTING = 

# PAUSE specifies the pause action
# Optional
# Default - runs the system macro pause.g
#PAUSE = 


# CANCEL specifies the cancel action
# Optional
# Default - runs the system macro cancel.g
#CANCEL = 


# STOP specifies the stop action
# Optional
# Default - runs the system macro stop.g
#STOP = 
 
[NOTIFICATION]
# Type of notification to be sent on print failure
# Valid Entries [MACRO, X, Y,]
# Optional
#TYPE = MACRO

# Macro to be called if NOTIFYTYPE = MACRO
# The bit that comes after M98
# Optional
#MACRO = 

# Url of notifocation service if NOTIFYTYPE = X or Y
# URL =

# User for notification service if NOTIFYTYPE = X or Y
#USER = 

# Password  for notifocation service if NOTIFYTYPE = X or Y
#PASSWORD = 


